body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.874);
  z-index: 1;
}
body::-webkit-scrollbar{
  display: none;
}

/* ----Resposiveness----- */

/* Resposive for destop */


@media screen and (min-height:1000px) {
  .mainPart2{
    display: none;
  }
  
}

@media screen and (min-height:1000px) {
  .mainPage{
    display: none;
  }
  
  
}